/* CODE BELOW IS FOR VIEW TOURNAMENT, BREAKS THE VIEW TOURNAMENT PAGE IF REMOVED THANKS*/

table {
    float: left;
}

body {
    background-color: #2f2fa2;
    color: #ffffff;
    font-family: 'Lucida Sans', Arial;
}

h1 {
    color: white;
    text-align: center;
}

td, th {
    padding: 4px;
}

.menu-container {
    text-align: center;
}

.menu-container a:link {
    text-decoration: none;
    background-color: #ff6cd3;
    padding: 4px;
    border-radius: 4px;
}

.options {
    color: #000000;
}

.theme-btns {
    margin-left: 0%;
    margin-top: 0%;
}

.allTeams_table, .allTeams_table td, .allTeams_table th {
    border: 1px solid;
}

#login_signup_button {
    margin-left: 29%;
}

