/* BACKGROUND COLOR: #2F2FA2
   TEXT: White
   BUTTONS: #F64C72
*/

/* CODE BELOW IS FOR VIEW TOURNAMENT, BREAKS THE VIEW TOURNAMENT PAGE IF REMOVED THANKS
*/

table {
    float: left;
}

.headBtn {}
